---
http_interactions:
- request:
    method: get
    uri: https://api.unpaywall.org/v2/10.1038/d41586-023-03497-2?email=timdex@mit.edu
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"doi": "10.1038/d41586-023-03497-2", "doi_url": "https://doi.org/10.1038/d41586-023-03497-2",
        "title": "Flashy molecules decode a polymer\u2019s lengthening chain", "genre":
        "journal-article", "is_paratext": false, "published_date": "2023-11-09", "year":
        2023, "journal_name": "Nature", "journal_issns": "0028-0836,1476-4687", "journal_issn_l":
        "0028-0836", "journal_is_oa": false, "journal_is_in_doaj": false, "publisher":
        "Springer Science and Business Media LLC", "is_oa": false, "oa_status": "closed",
        "has_repository_copy": false, "best_oa_location": null, "first_oa_location":
        null, "oa_locations": [], "oa_locations_embargoed": [], "updated": "2023-11-14T01:48:08.241432",
        "data_standard": 2, "z_authors": null}'
  recorded_at: Fri, 17 Nov 2023 16:35:36 GMT
recorded_with: VCR 6.2.0
