---
http_interactions:
- request:
    method: get
    uri: https://mit.alma.exlibrisgroup.com/view/sru/01MIT_INST?operation=searchRetrieve&query=alma.all_for_ui=this-is-not-a-barcode&recordSchema=dc&version=1.2
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8" standalone="no"?><searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/">
          <version>1.2</version>
          <numberOfRecords>0</numberOfRecords>
          <records/>
          <extraResponseData xmlns:xb="http://www.exlibris.com/repository/search/xmlbeans/">
            <xb:exact>true</xb:exact>
            <xb:responseDate>2025-01-13T13:30:12-0500</xb:responseDate>
          </extraResponseData>
        </searchRetrieveResponse>
  recorded_at: Mon, 13 Jan 2025 18:30:12 GMT
recorded_with: VCR 6.3.1
