---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/isbn/978-0-08-102133-0.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html
      Location:
      - https://openlibrary.org/books/OL28035297M.json
      X-Ol-Stats:
      - '"IB 1 0.025 MC 1 0.000 TT 0 0.026"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 17 Nov 2023 17:59:26 GMT
- request:
    method: get
    uri: https://openlibrary.org/books/OL28035297M.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.003"'
    body:
      encoding: UTF-8
      string: '{"publishers": ["Butterworth-Heinemann"], "covers": [9415283], "physical_format":
        "paperback", "full_title": "Orbital Mechanics for Engineering Students", "lc_classifications":
        ["TL1050"], "latest_revision": 3, "key": "/books/OL28035297M", "authors":
        [{"key": "/authors/OL7885052A"}], "source_records": ["amazon:008102133X",
        "bwb:9780081021330"], "title": "Orbital Mechanics for Engineering Students",
        "notes": {"type": "/type/text", "value": "Source title: Orbital Mechanics
        for Engineering Students (Aerospace Engineering)"}, "number_of_pages": 792,
        "created": {"type": "/type/datetime", "value": "2020-05-12T11:06:50.608473"},
        "isbn_13": ["9780081021330"], "isbn_10": ["008102133X"], "publish_date": "Jul
        24, 2019", "last_modified": {"type": "/type/datetime", "value": "2020-10-11T22:17:32.783921"},
        "works": [{"key": "/works/OL20729883W"}], "type": {"key": "/type/edition"},
        "revision": 3}'
  recorded_at: Fri, 17 Nov 2023 17:59:27 GMT
- request:
    method: get
    uri: https://openlibrary.org/authors/OL7885052A.json
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"MC 2 0.001 TT 0 0.003"'
    body:
      encoding: UTF-8
      string: '{"name": "Howard D. Curtis Ph.D.  Purdue University", "created": {"type":
        "/type/datetime", "value": "2020-05-12T11:06:50.608473"}, "last_modified":
        {"type": "/type/datetime", "value": "2020-05-12T11:06:50.608473"}, "latest_revision":
        1, "key": "/authors/OL7885052A", "type": {"key": "/type/author"}, "revision":
        1}'
  recorded_at: Fri, 17 Nov 2023 17:59:27 GMT
recorded_with: VCR 6.2.0
