---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1078-8956
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1700181899183,"counts":{"current-dois":1650,"backfile-dois":12848,"total-dois":14498},"breakdowns":{"dois-by-issued-year":[[2011,644],[1996,620],[1998,608],[1995,603],[2012,602],[1997,579],[1999,576],[2023,575],[2022,571],[2010,570],[2000,553],[2004,528],[2002,519],[2013,513],[2003,512],[2001,511],[2006,505],[2021,504],[2020,502],[2005,482],[2009,472],[2007,450],[2008,431],[2019,423],[2014,418],[2018,372],[2015,304],[2016,298],[2017,253]]},"publisher":"Springer
        Science and Business Media LLC","coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.01377646326276463,"licenses-backfile":0.9914383561643836,"funders-current":0.2903030303030303,"affiliations-backfile":0.0,"resource-links-backfile":0.9914383561643836,"orcids-backfile":0.0886519302615193,"update-policies-current":0.8406060606060606,"ror-ids-backfile":0.0,"orcids-current":0.6896969696969697,"similarity-checking-backfile":0.9915161892901619,"references-backfile":0.7176992528019925,"descriptions-backfile":0.0,"award-numbers-backfile":0.01113013698630137,"update-policies-backfile":0.2390255292652553,"licenses-current":1.0,"award-numbers-current":0.1987878787878788,"abstracts-backfile":0.001556662515566625,"resource-links-current":1.0,"abstracts-current":0.1903030303030303,"references-current":0.7290909090909091},"title":"Nature
        Medicine","subjects":[{"ASJC":1300,"name":"General Biochemistry, Genetics
        and Molecular Biology"},{"ASJC":2700,"name":"General Medicine"}],"coverage-type":{"all":{"last-status-check-time":1700181899183,"affiliations":0.0,"abstracts":0.02303607145320367,"orcids":0.1570453134698945,"licenses":0.9923442996068694,"references":0.7189461342161528,"funders":0.04524449962066349,"similarity-checking":0.9924132698806813,"award-numbers":0.03248499896544589,"ror-ids":0.0,"update-policies":0.3074694806538382,"resource-links":0.9923442996068694,"descriptions":0.0},"backfile":{"last-status-check-time":1700181899183,"affiliations":0.0,"abstracts":0.001556662515566625,"orcids":0.0886519302615193,"licenses":0.9914383561643836,"references":0.7176992528019925,"funders":0.01377646326276463,"similarity-checking":0.9915161892901619,"award-numbers":0.01113013698630137,"ror-ids":0.0,"update-policies":0.2390255292652553,"resource-links":0.9914383561643836,"descriptions":0.0},"current":{"last-status-check-time":1700181899183,"affiliations":0.0,"abstracts":0.1903030303030303,"orcids":0.6896969696969697,"licenses":1.0,"references":0.7290909090909091,"funders":0.2903030303030303,"similarity-checking":1.0,"award-numbers":0.1987878787878788,"ror-ids":0.0,"update-policies":0.8406060606060606,"resource-links":1.0,"descriptions":0.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":false,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1078-8956","1744-7933"],"issn-type":[{"value":"1078-8956","type":"print"},{"value":"1744-7933","type":"electronic"}]}}'
  recorded_at: Fri, 17 Nov 2023 17:50:18 GMT
recorded_with: VCR 6.2.0
