---
http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals/1078-8956
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Interval:
      - 1s
      X-Api-Pool:
      - public
      X-Rate-Limit-Limit:
      - '50'
      X-Rate-Limit-Interval:
      - 1s
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"journal","message-version":"1.0.0","message":{"last-status-check-time":1736729415763,"counts":{"current-dois":1409,"backfile-dois":13923,"total-dois":15332},"breakdowns":{"dois-by-issued-year":[[2024,712],[2011,644],[2023,638],[1996,620],[1998,608],[1995,603],[2012,602],[1997,579],[1999,576],[2022,571],[2010,570],[2000,553],[2004,528],[2002,519],[2013,513],[2003,512],[2001,511],[2006,505],[2021,504],[2020,502],[2005,482],[2009,472],[2007,450],[2008,431],[2019,423],[2014,418],[2018,372],[2015,304],[2016,298],[2017,253],[2025,59]]},"publisher":"Springer
        Science and Business Media LLC","coverage":{"affiliations-current":0.0,"similarity-checking-current":1.0,"descriptions-current":0.0,"ror-ids-current":0.0,"funders-backfile":0.03555268261150614,"licenses-backfile":0.9921712274653451,"funders-current":0.2931156848828957,"affiliations-backfile":0.0,"resource-links-backfile":0.9921712274653451,"orcids-backfile":0.1353874883286648,"update-policies-current":0.8616039744499645,"ror-ids-backfile":0.0,"orcids-current":0.7061745919091554,"similarity-checking-backfile":0.9921712274653451,"references-backfile":0.7167995403289521,"descriptions-backfile":0.0,"award-numbers-backfile":0.02578467284349637,"update-policies-backfile":0.2867198161315808,"licenses-current":1.0,"award-numbers-current":0.1980127750177431,"abstracts-backfile":0.01379013143719026,"resource-links-current":1.0,"abstracts-current":0.2505322924059617,"references-current":0.7792760823278921},"title":"Nature
        Medicine","subjects":[],"coverage-type":{"all":{"last-status-check-time":1736729415763,"affiliations":0.0,"abstracts":0.03554425096197743,"orcids":0.1878301702210918,"licenses":0.9928259309985,"references":0.7224939672601578,"funders":0.05921867866692754,"similarity-checking":0.9928259309985,"award-numbers":0.04160960020870019,"ror-ids":0.0,"update-policies":0.3395291201982652,"resource-links":0.9928259309985,"descriptions":0.0},"backfile":{"last-status-check-time":1736729415763,"affiliations":0.0,"abstracts":0.01379013143719026,"orcids":0.1353874883286648,"licenses":0.9921712274653451,"references":0.7167995403289521,"funders":0.03555268261150614,"similarity-checking":0.9921712274653451,"award-numbers":0.02578467284349637,"ror-ids":0.0,"update-policies":0.2867198161315808,"resource-links":0.9921712274653451,"descriptions":0.0},"current":{"last-status-check-time":1736729415763,"affiliations":0.0,"abstracts":0.2505322924059617,"orcids":0.7061745919091554,"licenses":1.0,"references":0.7792760823278921,"funders":0.2931156848828957,"similarity-checking":1.0,"award-numbers":0.1980127750177431,"ror-ids":0.0,"update-policies":0.8616039744499645,"resource-links":1.0,"descriptions":0.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":false,"deposits-update-policies-backfile":true,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-ror-ids-current":false,"deposits-articles":true,"deposits-affiliations-current":false,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-ror-ids-backfile":false,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-descriptions-current":false,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-descriptions-backfile":false,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":true,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1078-8956","1744-7933","1546-170X"],"issn-type":[{"type":"print","value":"1078-8956"},{"type":"electronic","value":"1744-7933"},{"type":null,"value":"1546-170X"}]}}'
  recorded_at: Mon, 13 Jan 2025 14:40:13 GMT
recorded_with: VCR 6.3.1
