---
http_interactions:
- request:
    method: get
    uri: https://public-api.thirdiron.com/public/v1/libraries/FAKE_LIBKEY_ID/articles/doi/10.1038/d41586-023-03497-2?access_token=FAKE_LIBKEY_KEY&include=journal
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '7000'
      X-Ratelimit-Remaining:
      - '6998'
      X-Ratelimit-Reset:
      - '1738013436'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"674-i4jrBOQt3nhWgad5FEnF7B4fIr0"
    body:
      encoding: UTF-8
      string: '{"data":{"id":594388926,"type":"articles","title":"Flashy molecules
        decode a polymer’s lengthening chain","date":"2023-11-09","authors":"","inPress":false,"abandoned":false,"doi":"10.1038/d41586-023-03497-2","linkResolverOpenUrl":"https://mit.primo.exlibrisgroup.com/openurl/01MIT_INST/01MIT_INST:LIBKEY?genre=article&aulast=&issn=0028-0836&title=Nature&atitle=Flashy%20molecules%20decode%20a%20polymer%E2%80%99s%20lengthening%20chain&volume=623&issue=7988&spage=669&epage=669&date=2023-11-09&doi=10.1038%2Fd41586-023-03497-2&rft_id=info:pmid/37953305&sid=LibKey","pmid":"37953305","openAccess":false,"unpaywallUsable":true,"fullTextFile":"https://libkey.io/libraries/FAKE_LIBKEY_ID/articles/594388926/full-text-file?utm_source=api_3735","contentLocation":"https://libkey.io/libraries/FAKE_LIBKEY_ID/articles/594388926/content-location?utm_source=api_3735","availableThroughBrowzine":true,"startPage":"669","endPage":"669","avoidUnpaywallPublisherLinks":true,"browzineWebLink":"https://browzine.com/libraries/FAKE_LIBKEY_ID/journals/13191/issues/542328579?showArticleInContext=doi:10.1038%2Fd41586-023-03497-2&utm_source=api_3735","relationships":{"journal":{"data":{"type":"journals","id":13191}}},"bestIntegratorLink":{"bestLink":"https://libkey.io/libraries/FAKE_LIBKEY_ID/articles/594388926/full-text-file?utm_source=api_3735","linkType":"fullTextFile","recommendedLinkText":"Download
        PDF"}},"included":[{"id":13191,"type":"journals","title":"Nature","issn":"00280836","sjrValue":18.509,"coverImageUrl":"https://s3.amazonaws.com/thirdiron-assets/images/covers/0028-0836.png","browzineEnabled":true,"browzineWebLink":"https://browzine.com/libraries/FAKE_LIBKEY_ID/journals/13191?utm_source=api_3735"}]}'
  recorded_at: Mon, 27 Jan 2025 21:29:35 GMT
recorded_with: VCR 6.3.1
