<%= content_for(:title, "TACOS") %>

<div class="layout-3q1q layoutband">
  <div class="col3q">
    <div class="about-timdex box-content">
      <h3 class="title">About TACOS</h3>

      <p>TACOS is an anonymous searchterm analysis system.</p>

      <p>TACOS aims to be a combination of data collection of anonymous searchterms from our various systems,
         algorithmic detection of patterns (such as ISSN, ISBN, DOI, PMID), data lookups of facts about detected
         patterns, and a staff workflow to categorize searchterms our algorithmic approach cannot yet understand.</p>

      <p>The hope is that TACOS will provide insight into what a user is intending to search for _before_ we ask a
         traditional search system to process that search.</p>

      <div class="well">
        TACOS is coming soon!
      </div>
    </div>
  </div>

  <aside class="col1q-r">
    <p>Imagine a cool logo here</p>
  </aside>

</div>
