<h3>Report index</h3>

<ul>
  <li><%= link_to("Monthly algorithm metrics", report_algorithm_metrics_path) %></li>
  <li><%= link_to("Aggregate algorithm metrics", report_algorithm_metrics_path(type: 'aggregate') ) %></li>
</ul>
